.cp-12 {
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    min-width: 750px;
    background-color: rgb(85, 142, 157);
}



.cbg{

    background-color: rgb(22, 56, 76);
}

.picsize{
    border-radius: 200px;
    height: 50%;
    vertical-align: middle;
}